
 



.hold{
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 20%;
   padding:2%;
     overflow-y: scroll;
  overflow-x:auto;
/*  border-style:solid;
  border-width: 1px;
  border-color:grey; 
  max-height: 600px;*/
 
}

#graphHold{
  display:none;
  
}
#plotDiv{
position:relative;
/*height: 200px;
width: 400px;*/

height: 380px;
width: 400px;
padding-right: 100px;
margin-top: 30px;
padding-bottom: 300px;





}
#chartLegend .legendLabel {
  padding:5px; 
}



.error{

  color:red;
  border-color:red;
}

@media screen and (max-width: 1024px){
 #plotDiv{

height: 250px;
width: 400px;


}
}