header{

display:block;

margin:1%;

height:100px;
border-style:solid;

}
article{

display:block;
margin:1%;

height:90%;

}
#menu{
position:relative;
padding:2%;
display:block;
height:40px;
border-style:solid;
}
#content{
padding:2%;
display:block;
margin-top:2%;
height:80%;
border-style:solid;
 overflow-y: auto;
  overflow-x:auto; 
}

